# Виртуальные окружения (uv)
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Настройки VSCode
.vscode/

# Переменные окружения
.env

# Файлы MacOS/Windows
.DS_Store
Thumbs.db

# Логи приложения
logs/
*.log